<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.monstersawiki" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MonsterSAWiki"
        tools:targetApi="31" >
        <activity
            android:name=".mike"
            android:exported="false" />
        <activity
            android:name=".boo"
            android:exported="false" />
        <activity
            android:name=".sulley"
            android:exported="false" />
        <activity
            android:name=".university"
            android:exported="false" />
        <activity
            android:name=".door"
            android:exported="false" />
        <activity
            android:name=".story"
            android:exported="false" />
        <activity
            android:name=".character"
            android:exported="false" />
        <activity
            android:name=".menuID"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>